#
.DS_Store
*.swp
*.swc
Thumbs.db

/release/
/debug/

_files/
_ignore/

# garbage
.DS_Store
.vscode

# heavy
target/
node_modules/

# zig
zig-out/
zig-cache/
.zig-cache/
/build/
/build-*/
/docgen_tmp/

