#
*.ppm
*.xpr
data/

# editor
.cursor/
.vscode/
*.swp
*.swo
*.swn
.log

# env
.env
*.env

#
*.swp
*.swc

# garbage
.DS_Store
.vscode

# heavy
target/
node_modules/

# rust
/release/
/debug/

# zig
zig-out/
zig-cache/
.zig-cache/
/build/
/build-*/
/docgen_tmp/

# go
go.work
/bin/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylb
*.test
*.out
vendor/
